*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(92, 92, 92);
}

header{
    background: gray;
    height: 80px;
    padding: 3px;
    
}
.menu{
    width: 100%;
    padding: 0px;
    
 
}
.logo{
    width: 70px;
    height: 70px;
    float: left;
    padding: 8px;
}

nav{
    float: right;
}

nav ol li{
    list-style: none;
    margin-left: 70px;
    float: left;
    padding: 25px 0;
}

nav ol li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

